.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.overlay.open { display: flex; }
.form-panel { display: none; }
.form-panel.active {display: block;}
.tab { border-bottom: 2px solid transparent; }
.tab.active { border-bottom: 2px solid black; font-weight: bold; }
.modal {
    height: 450px;
    width: 430px;
    background-color: #FFFFFF;
    border: 2px solid #756464;
}